# WalletConnect Project ID
NEXT_PUBLIC_PROJECT_ID='walletconnect-project-id'

# Additional hostnames allowed to proxy the Next.js development server
DEV_ALLOWED_ORIGINS='your-development-hostname.example'

# JWT Secret - unsure if used
JWT_SECRET='your_jwt_secret_here'

# S3 Configuration
S3_BUCKET='your-bucket-name-here'
S3_ENDPOINT='your_s3_endpoint_here'
S3_REGION='your_s3_region_here'
S3_KEY='your_access_key_here'
S3_SECRET='your_secret_key_here'

# The Graph API
THE_GRAPH_API_KEY='your_the_graph_api_key_here'
